{{#each orders as |order|}}
  <section data-id="{{order._id}}">
    <div class="col-6 card text-white bg-dark col-12">
    <h6>Items</h6>

    <div class="hidden">
      <button data-id="{{order._id}}" class="add-to-cart btn btn-outline-danger col-4 btn-sm delete">Remove from Cart</button>
    </div>
    </div>
  </section>

{{/each}}
<button class="btn btn-outline-info col-4 btn-sm checkout">Checkout</button>
