@import '~bootstrap/scss/bootstrap';

.hidden {
 display: none;
}

.messages {
  height: 50px;
}

.shopname {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
