@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

.hidden {
 display: none;
}

.messages {
  height: 50px;
}

.shopname {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  color: $white;
  height: 34px;
}

p,
h5,
h3,
h1,
footer {
  font-family: 'Ubuntu', sans-serif;
}
